{% block header %}
<header id="header" class="fixed-top">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div
        class="col-xl-9 d-flex align-items-center justify-content-lg-between"
      >
        <h1 class="logo me-auto me-lg-0"><a href="/">Rinetech</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="{%static 'assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto active" href="/">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="">Services</a></li>
            <li>
              <a class="nav-link scrollto" href="#portfolio">Portfolio</a>
            </li>
            <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
            {% if request.user.is_authenticated %}
            <div class="dropdown">
              <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Template
              </a>
            
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url "add_new_template" %}">Add New Template</a></li>
                <li><a class="dropdown-item" href="{% url "upload_word_file" %}">Upload Word File</a></li>

                <li><a class="dropdown-item" href="{% url "excl_file_list" %}">Excel files list</a></li>
                <li><a class="dropdown-item" href="{% url "list_word_files" %}">Ms Word Files List</a></li>
              </ul>
            </div>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
       
        <a href="{% url 'user_list' %}" class="btn btn-light">user list</a>
        <a href="/auth/logout/" class="get-started-btn scrollto">Log Out</a>
        {% else %}
        <a href="{% url 'signup' %}" class="get-started-btn scrollto" style="padding: 10px;"
          >Sign Up</a
        >
        {% endif %}
      </div>
    </div>
  </div>
</header>
{% endblock header %}
<!-- End Header -->
